<!-- Alleen details laten zien als de 'sleutel' aanwezig is. -->
<!-- <div *ngIf="blogForm">
  <h2>Blog Detail</h2>
  <form [formGroup]="blogForm">
    <div class="form-group">
      <label class="center-block">Name:
        <input class="form-control" formControlName="name">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Author:
        <input class="form-control" formControlName="author">
      </label>
    </div>
  </form>
</div>

<div *ngIf="!key | async">
  No valid id in url!
</div> -->

<div class="navbar navbar-dark bg-dark" *ngIf="(blog | async) as b">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/blogs">Blog {{ b.name }}</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <button class="btn btn-default btn-sm" routerLink="/blogs">Back to list</button>
      </li>
    </ul>
  </div>
</div>


<div  class="text-center md-padding">
  <h4>You bought the blog {{b.name}} from author
    <b>{{b.author}}</b>
  </h4>
</div>