/* Waarrom bootstrap lost ophalen als we hem kunnen bundelen? */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');

body{
    margin:30px;
    background-color: #ADD8E6;
}

.navbar-nav{
    flex-direction: row;
}

.container-fluid{
    justify-content: left;
}

.pull-right{
    float:right;
}